*.o
*.nc
BOUT.log.*
.BOUT.pid.*
BOUT.settings
*.a
*~
.DS_Store
/build*
__pycache__
*.bk

# Docs
/docs/build
/docs/doxygen
/docs/html
/docs/hermes3.pdf
/docs/sphinx/_breathe*

# IDE config files
.vscode
compile_commands.json
.ccls-cache/
.cache/clangd/

# spack-related
spack-build*
spack.lock
.spack-env
views

# Tests
**/Testing/**
docker/work/
docker/.env
docker/docker-compose.override.yaml

# asv-related
.asv/

# Python-related directories
*venv/
dist/
