name: Tests
on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  cmake_tests:
    name: Test ${{ matrix.name }}
    runs-on: u${{ matrix.config.os }}
    env:
      OMPI_MCA_rmaps_base_oversubscribe: yes
      MPIRUN: mpiexec -np
    strategy:
      fail-fast: false
      matrix:
        mode: ["debug", "opt"]
        3d: ["3d-", ""]

    steps:
      - name: Job information
        run: |
          echo Build: ${{ matrix.mode }}, ${{ matrix.3d }}
          cat /etc/os-release

      - name: Checkout hermes-3
        run: |
          cd /home/boutuser/
          git clone ${{ github.server_url }}/${{ github.repository }} -b ${{ github.ref_name }} hermes-3
          cd hermes-3
          git checkout ${{ github.sha }}
          git submodule update --init --recursive

      - name: Build and run tests
        run: cmake . -B build -DHERMES_BUILD_BOUT=OFF -Dbout++_DIR=/usr/local &&
             cmake --build build &&
             cd build &&
             ctest --output-on-failure --timeout 300
